/* ================================
        Import 
==================================*/

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --color-primary: #3087c9;
  --color-secondary: #000000; /*#333333*/
  --color-light: #f2f9ff;
  --color-accent: #57595b;
  --color-border-color: #d4d6d9;
  --color-gray-color: #dddddd;
}

body {
  @apply font-inter;
}

button,
a {
  @apply cursor-pointer;
}

@layer utilities {
  .section-title {
    @apply text-xl md:text-4xl font-playfair font-bold text-center text-primary px-2 capitalize;
  }
  .input-class {
    @apply w-full border border-[#ccc] bg-white py-2 px-3 text-sm md:text-base placeholder:font-bold rounded focus:outline-none focus:border-blue-500 font-bold;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html,
body {
  overflow-y: visible;
  scroll-behavior: smooth;
}
.section-hero-title{
  @apply text-base sm:text-xl md:text-2xl font-bold py-3 px-8 bg-black/50 text-white rounded-xl font-playfair inline-block leading-normal md:leading-10
}

.section-title {
  @apply text-lg sm:text-xl md:text-4xl font-playfair font-bold  text-primary mb-6 text-center
}